In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Store csv created in part one into a DataFrame
metadata = "output_data\my_weather_data.csv"

weather_data = pd.read_csv(metadata)

weather_df = pd.DataFrame(weather_data)
weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1928,168.8643,41.47,88,85,7.83,NZ,1571594400
1,1,Merauke,-8.4903,140.3956,75.48,82,0,19.91,ID,1571594400
2,2,Ugoofaaru,5.6667,73.0000,83.14,63,100,8.86,MV,1571594400
3,3,Traiguen,-38.2500,-72.6834,59.96,51,93,6.73,CL,1571594400
4,4,San Juan de Uraba,8.7592,-76.5297,79.81,73,99,5.30,CO,1571594400

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of humidity
locations = weather_df[["Latitude", "Longitude"]].astype(float)

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("Heatmap")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down cities that fit criteria and drop any results with null values

first = weather_df.loc[weather_df["Max Temp"]<80,:]

second = first.loc[weather_df["Max Temp"]>70,:]
second.head()

third = second.loc[second["Wind Speed"]<10,:]
third

fourth = third.loc[third["Cloudiness"]==0,:]
fourth.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
235,235,Saint George,39.4548,22.3400,70.22,52,0,0.27,GR,1571594400
286,286,Beloha,-25.1739,45.0615,73.84,59,0,3.91,MG,1571594400
318,318,San Quintin,17.5427,120.5203,72.40,88,0,4.65,PH,1571594400
391,391,Bharatpur,27.2154,77.4987,78.27,34,0,1.01,IN,1571594400
452,452,Ormara,25.2088,64.6357,79.63,49,0,5.01,PK,1571594400

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = pd.DataFrame()
fifth = pd.DataFrame(fourth)
hotel_df['City'] = fifth['City']
hotel_df['Country'] = fifth['Country']
hotel_df['Lat'] = fifth['Latitude']
hotel_df['Lng'] = fifth['Longitude']

hotel_df.head()

             City Country      Lat       Lng
235  Saint George      GR  39.4548   22.3400
286        Beloha      MG -25.1739   45.0615
318   San Quintin      PH  17.5427  120.5203
391     Bharatpur      IN  27.2154   77.4987
452        Ormara      PK  25.2088   64.6357

In [8]:
# Set parameters to search for a hotel


# Iterate through 
for index, row in hotel_df.iterrows():
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 235: Saint George.
Missing field/result... skipping.
------------
Retrieving Results for Index 286: Beloha.
Missing field/result... skipping.
------------
Retrieving Results for Index 318: San Quintin.
Missing field/result... skipping.
------------
Retrieving Results for Index 391: Bharatpur.
Missing field/result... skipping.
------------
Retrieving Results for Index 452: Ormara.
Missing field/result... skipping.
------------
Retrieving Results for Index 527: Olga.
Missing field/result... skipping.
------------

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

marker_layer = gmaps.marker_layer(locations2, hover_text='', label='', info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("Marker Layer Heat Map")

# Display figure
fig